body {
  background-color: #87b1eb;
  text-align: center;
  font-family: Arial, sans-serif;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  font-size: 36px;
  font-weight: bold;
  background-color: #cde4ff;
  color: #222;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}

#board {
  width: 480px;
  height: 480px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.cell {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  cursor: pointer;
}

.selected {
  background-color: #87ceeb !important;
}

/* Add the following CSS for the color of the squares */
.square-light {
  background-color: #b58863;
}

.square-dark {
  background-color: #f0d9b5;
}

.piece {
  font-size: 50px;
}

.white-piece {
  color: #ffffff;
}

.black-piece {
  color: #000000;
}

/* Custom styling for each piece */
.piece::before {
  content: attr(data-piece);
}

/* Custom styling for each piece color */
.white-piece::before {
  color: #ffffff;
}

.black-piece::before {
  color: #000000;
}

.capture-move {
  background-color: orange !important;
}

.valid-move {
  background-color: #aaffaa !important;
}

#status {
  background-color: #f9f9f9;
  color: #555;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  width: 240px; /* Adjust the width as per your preference */
  margin: 40px auto 20px; /* Adjust the top margin as per your preference */
}
