body {
  background-color: #cad1c4; /* Replace with your desired color */
}

.infoDiv {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.infoDiv input[type="text"] {
  width: 100px; /* Adjust the width as needed */
}

.board {
  width: 400px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  position: relative;
}

.board:before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  border: 2px solid #000000; /* Add border properties */
}

.board-container {
  padding-top: 20px; /* Add padding to create space */
}

h1 {
  text-align: center; /* Center align the title */
  position: relative; /* Add position relative */
  z-index: 2; /* Increase the z-index to be above the chessboard */
}

.square {
  width: 50px;
  height: 50px;
  position: relative; /* Add position relative */
}

/* Rest of the CSS code remains the same */
.white {
  background-color: #f0d9b5;
}

.black {
  background-color: #b58863;
}

.selected {
  background-color: yellow;
}

.buttonsDiv {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.buttonsDiv button {
  margin: 0 15px; /* Add horizontal margin between buttons */
}
